*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  background-color: black;
  color: white;
  text-align:center;
  font-size:medium;
  line-height: 150%;
  padding: 2%;
  margin-bottom: 5%;

}

h1 {
  text-align: center;
  background-color: black;
  color: white;
}

h3 {
  text-align: center;
}

ul {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
}

li {
  margin: 16px 0;
}

h2 {
  text-align: center;
}

.image {
  text-align: center;
}

.link{
    color: black;
}
